* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #111;
    color: white;
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 32px;
}

.filters {
    display: flex;
    gap: 15px;
    align-items: end;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-size: 14px;
    color: #bbb;
}

input {
    background: #1e1e1e;
    border: 1px solid #333;
    color: white;
    padding: 12px;
    border-radius: 10px;
}

button {
    background: #7c3aed;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    opacity: 0.85;
}

.sales-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sale-card {
    background: #1a1a1a;
    border: 1px solid #2b2b2b;
    border-radius: 16px;
    padding: 20px;
}

.sale-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.sale-id {
    font-size: 20px;
    font-weight: bold;
}

.sale-date {
    color: #aaa;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #252525;
    border-radius: 10px;
}

.total {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: #22c55e;
    align-items: center;
}

#obs {
    margin-top: 15px;
    font-style: italic;
    color: #bbb;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
}

#paymentMethod {
    background: #1e1e1e;
    border: 1px solid #333;
    color: white;
    padding: 4px 16px;
    border-radius: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

@media(max-width:768px) {
    body {
        padding: 15px;
    }

    .sale-header {
        flex-direction: column;
    }

    .product {
        flex-direction: column;
        gap: 5px;
    }

    .total {
        flex-direction: column;
        gap: 14px;
    }

    #paymentMethod {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
}




@keyframes highlightInput {
    0% {
        box-shadow: 0 0 0 0 rgba(99, 102, 241, 0);
    }

    30% {
        box-shadow: 0 0 30px 15px rgba(107, 51, 204, 0.568);
    }


    100% {
        box-shadow: 0 0 0 0 rgba(99, 102, 241, 0);
    }
}

.highlight {
    animation: highlightInput 1.5s ease-in;
}