@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, rgba(60,15,144,1) 0%, rgba(106,20,107,0.75) 50%, rgba(0,1,40,1) 100%);
}
.h1-container{
    background: rgba(0, 0, 0, .4);
    margin: 2em 0;
    padding: 1.4em;
}
h1{
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    color: white;
    line-height: 1.035;
    text-shadow: 5px 5px 4px black;
}
main{
    background: rgba(0, 0, 0, .26);
    border-radius: 30px;
    margin: 1em;
    padding: 2em;
}
h2{
    margin: 0 0 0.75em 0;
    text-align: center;
    font-size: 1.8em;
    color: white;
    text-shadow: 5px 5px 4px black;
}
.carta{
    color: white;
    text-shadow: 2px 2px 2px black;
}
h3{
    color: white;
    background: rgba(0, 0, 0, .4);
    text-shadow: 5px 5px 4px black;
    font-size: 2em;
    text-align: center;
    padding: 1rem;
    margin: 1.4em 0 0 0;
}
.container{
    width: 80%;
    background-color: rgba(255, 255, 255, .25);
    display: flex;
    flex-direction: column;
    margin: 3.5em auto;
    border-radius: 1em;
    height: fit-content;
    border: 2px dashed rgb(27, 8, 73);
}
.image{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    border: 2px solid rgb(70, 0, 255);
    object-fit: cover;
    margin: 1rem;
    -webkit-user-drag: none;
}
#webicon{
    border-radius: 50%;
    height: 12em;
    align-self: center;
}
#gostosa1{
    height: 16em;
    align-self: flex-end;
}
#gostoso1{
    height: 16em;
    width: 10em;
}
#gostosa2{
    height: 12em;
    width: 10em;
    align-self: flex-end;
}
#gostoso2{
    height: 14em;
    width: 11em;
}
#gostosa3{
    height: 14em;
    width: 10em;
    align-self: flex-end;
}
#gostoso3{
    height: 16em;
    width: 10em;
}
footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 100;
    text-align: center;
    padding: .5em;
}
@media screen and (min-width: 35em){
    body{
        font-size: 125%;
    }
}
@media screen and (min-width: 63em){
    body{
        font-size: 175%;
    }
}
@media screen and (orientation: landscape){
    body{
        font-size: 12px;
    }
    main{
        background: rgba(0, 0, 0, .26);
        border-radius: 30px;
        margin: 1em auto;
        padding: 2em;
        width: 70%;
    }
    h2{
        margin: 0 0 0.75em 0;
        text-align: center;
        font-size: 1.8em;
        color: white;
        text-shadow: 5px 5px 4px black;
    }
    .carta{
        color: white;
        text-shadow: 2px 2px 2px black;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 1px;
    }
    .container{
        width: 50%;
        background-color: rgba(255, 255, 255, .25);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3.5em auto;
        border-radius: 1em;
        height: fit-content;
        border: 2px dashed rgb(27, 8, 73);
        justify-content: space-around;
        align-items: center;
    }
    .image{
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px black;
        border: 2px solid rgb(70, 0, 255);
        object-fit: cover;
    }
    #webicon{
        border-radius: 50%;
        height: 12em;
    }
    #gostosa1{
        height: 16em;
        
    }
    #gostoso1{
        height: 16em;
        width: 10em;
    }
    #gostosa2{
        height: 12em;
        width: 10em;
    }
    #gostoso2{
        height: 14em;
        width: 11em;
    }
    #gostosa3{
        height: 14em;
        width: 10em;
    }
    #gostoso3{
        height: 16em;
        width: 10em;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: 300;
        text-align: center;
        padding: .5em;
    }
}
@media screen and (orientation: landscape) and (min-width: 1367px){
    body{
        font-size: 16px;
    }
    main{
        width: 60%;
    }
}
